<div class="container-fluid d-flex justify-content-center contenedorPrincipal">
    <div class="container  w-75 contenedorSecundario">
        <h1>mejores diseñadores del mes</h1>
        <div class="d-flex justify-content-between contenedorBSellers">
            <% for (let i = 0; i < diseniadores.length; i++) { %>
            <div class="boxLamps boxBestDiseniador" id="diseniador-<%= diseniadores[i].id %>" data-diseniador-id="<%= diseniadores[i].id %>" onclick="redireccionDiseniador('<%= diseniadores[i].id %>')">
                <img src="img/designers/<%= diseniadores[i].imagens %>" alt="<%= diseniadores[i].nombre %>">
                <div class="contenedorTextos">
                    <p class="marca nombreDiseniador"><%= diseniadores[i].nombre %></p>
                    <p class="descripcionDiseniador"><%= diseniadores[i].descripcion %></p>
                </div>
            </div>
            <% }%>
           
        </div>
    </div>
</div>

<script src="/js/diseniadores.js"></script>